.container 
{
  /* margin-top: 50px; */
  margin-bottom: 30px;
  /* height:100px; */
}
.cart-page {
    margin-top: 64px;
    height: 100px;
  }
  
  .cart-page h1 {
    padding: 15px !important;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    background-color:azure !important;
  }
  .cart-page h1 > p {
    font-size: 15px;
    margin-top: 10px;
  }
  
  .cart-page .card1 {
    padding: 5px !important;
    height: 200px !important;
    margin-bottom: 5px !important;
  }
  .cart-page .cart-remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-page .cart-summary {
    text-align: right;
    /* margin-top: -140px !important; */
  }

  .card-img-top-cart{
    height: 180px;
    width: 180px;
  }